:root{
    --background: white;
    --background-hover: rgb(244, 244, 244);
    --font-color: black;
    --font: 'Poppins', sans-serif
}

*{
    font-family: var(--font);
}

main{
    height: 90vh;
    position: absolute;
    top: 0;
    overflow: scroll;
}

body *, body{
    max-width: 1200px;
}

body{
    margin: 0 auto;
    background-color: var(--background);
}

button:hover{
    cursor: pointer;
}

footer{
    margin: 0 auto;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--background);
    z-index: 10;
}

footer a, .footerButton{
    flex-grow: 1;
    height: 100%;
    border: 1px solid black;
    border-top: 2px solid black;
}

footer a button, .footerAButton{
    width: 100%;
    height: 100%;
    padding: 15px;
    border: none;
    background-color: transparent;
}

footer a button svg{
    height: 100%;
    aspect-ratio: 1;
}

button.active{
    background-color: rgb(100, 183, 255);
}

.logout, .back{
    position: absolute;
    right: 10px;
    border: 2px black solid;
    box-shadow: 3px 3px 0px black;
    border-radius: 50px;
    width: 15vw;
    margin: 5px auto;
    padding: 5px;
    z-index: 10;
    top: 0px;
}

.back{
    right: unset;
    left: 10px;
}
