:root{
    --itemHeight: 200px;
}
div.cols{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin-top: 60px;
}

div.cols div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
    height: 100%;
    min-width: 125px;
}

div.cols div button{
    width: 95%;
    height: var(--itemHeight);
    min-height: var(--itemHeight);
    margin: 5px;
}

div.cols div.colMid{
    margin-top: var(--itemHeight);
}

h1{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 47px;
}