:root{
    --itemHeight: 300px;
}

div.cols{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin-top: 60px;
}

div.cols div.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
    height: 100%;
    min-width: 125px;
    max-width: 50vw;
}

div.cols div button{
    width: 95%;
    /* height: var(--itemHeight);
    min-height: var(--itemHeight); */
    margin: 5px;
    border: 2px black solid;
    box-shadow: 3px 3px 0px black;
    border-radius: 10px;
}

div.cols button.half{
    height: calc(var(--itemHeight) / 2);
    min-height: calc(var(--itemHeight) / 2);
}

div.cols a{
    width: 95%;
    margin: 5px;
}

div.cols a button{
    width: 100%;
    margin: unset;
}

.half svg{
    max-width: 40px;
}

h1{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 47px;
    width: 100vw;
}

.half input:active:has(> .half){
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, -50%);
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 5px;
}

.imgCon{
    width: 100%;
    border-radius: 5px;
    overflow: clip;
}

.capCon{
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 5px;
    width: 100%;
}

.capCon svg{
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 5px;
}

.itemImg{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.caption{
    margin: 0;
    width: 80%;
}