.search{
    border: 2px black solid;
    box-shadow: 3px 3px 0px black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85vw;
    margin: 5px;
    padding: 10px;
}

input.search{
    box-shadow: none;
}

input.search.submit{
    width: 20%;
}

.category{
    height: calc(var(--itemHeight) / 2); 
}

div.category{
    width: 95%;
    margin: 5px;
    border: 2px black solid;
    box-shadow: 3px 3px 0px black;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.cols a button{
    margin: 5px 0;
    color: black;
}

div.cols div.col{
    max-width: 100vw;
}