.search{
    border: 2px black solid;
    box-shadow: 3px 3px 0px black;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85vw;
    margin: 5px;
    padding: 10px;
}

input.search{
    box-shadow: 1px 1px 0px black inset;
}

input.search.submit{
    width: 20%;
}

.category{
    height: calc(var(--itemHeight) / 2); 
}