.search{
    border: 2px black solid;
    box-shadow: 3px 3px 0px black;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85vw;
    margin: 5px;
    padding: 10px;
}

.category{
    height: calc(var(--itemHeight) / 2); 
}