{% load static %}
<div class="cols">
    {% if left %}
        <div class="colleft col">
            {% for category in left %}
                <button class="category">
                    {{ category.name }}
                </button>
            {% endfor %}
        </div>
        <div class="colRight col">
            {% for category in right %}
                <button class="category">
                    {{ category.name }}
                </button>
            {% endfor %}
        </div>
    {% else %}
        <div class="category">
            No Categories
        </div>
    {% endif %}
</div>