{% load static %}
{% if not categoryBool %}
    <div class="cols">
        {% if categories %}
            <div class="colleft col">
                {% for category in categories %}
                <a href="{% url 'showCategory' category.name|slugify %}">
                    <button class="category">
                        {{ category.name }}
                    </button>
                </a>         
                {% endfor %}
            </div>
            <!-- <div class="colRight col">
                {% for category in right %}
                <a href="{% url 'showCategory' category.name|slugify %}">
                    <button class="category">
                        {{ category.name }}
                    </button>
                </a>            
                {% endfor %}
            </div> -->
        {% else %}
            <div class="category">
                No Categories
            </div>
        {% endif %}
    </div>
{% else %}
    <a href="/wander">
        <button class="back">Back</button>
    </a>
    {% include 'items.html' %}
{% endif %}