{% load static %}
<!DOCTYPE html>
<html lang="en" >
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/wander.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}">
        <!-- <script src="{% static 'js/script.js' %}"></script> -->

        <title>Create - Rate it</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main class="main">
            <div class="section">
                {% if not nextBool %}
                    <form action="{% url 'createCategory' %}" method="post" id="createForm" autocomplete="on"> 
                        {% csrf_token %}
                        <p>Select the category of your post:</p>
                        <div class="cols">
                            {% if left %}
                                <div class="colleft col">
                                    {% for category in left %}
                                        <label>
                                            <input type="radio" name="category" value="{{category.name}}" required>
                                            {{category.name}}
                                        </label>
                                    {% endfor %}
                                </div>
                                <div class="colRight col">
                                    {% for category in right %}
                                        <label>
                                            <input type="radio" name="category" value="{{category.name}}" required>
                                            {{category.name}}
                                        </label>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="category">
                                    No Categories
                                </div>
                            {% endif %}
                        </div>
                        <div class="inputs">
                            <label for="image">Upload Image</label>
                            <input type="file" name="image" class="input" placeholder="Upload Image" id="image">
                            <img id="previewImage">
                            <script>
                            const imageInput = document.getElementById('image');
                            const previewImage = document.getElementById('previewImage');
                            function previewSelectedImage() {
                                previewImage.style.display = 'flex';
                                const file = imageInput.files[0];
                                if (file) {
                                    const reader = new FileReader();
                                    reader.readAsDataURL(file);
                                    reader.onload = function(e) {
                                        previewImage.src = e.target.result;
                                    }
                                }
                            }
                            imageInput.addEventListener('change', previewSelectedImage);
                            </script>
                        </div>
                        <div class="inputs">
                            <input required type="text" name="caption" class="input" placeholder="Caption">
                        </div>
                        <div class="inputs">
                            <input required type="text" name="description" class="input" placeholder="Description">
                        </div>                    

                        <footer>
                            <button onclick="goBack()" class="footerButtonCreate footerButton">Cancel</button>

                            <script>
                                function goBack() {
                                    window.history.go(-1);
                                }
                            </script>
                            <!-- <a href="/home">
                                <p id="home" class="footerAButton">
                                    Cancel
                                </p>
                            </a> -->
                            <input id="upload" class="footerButton" value="Next" type="submit">
                        </footer>
                    </form>
                {% else %}
                <p>Posting in {{categoryChose}}.</p>
                <form action="{% url 'createPost' categoryChose|slugify%}" method="post" id="createForm" autocomplete="on"> 
                    {% csrf_token %}

                    {% for section in sections %}
                        <div class="inputs">
                            <input required type="text" name="{{section}}" class="input" placeholder="{{section}}">
                        </div>  
                    {% endfor %}
                    <input value="{{caption}}" type="text" name="caption" class="hidden">      
                    <input value="{{description}}" type="text" name="description" class="hidden">

                    <footer>
                        <button onclick="goBack()" class="footerButtonCreate footerButton">Back</button>

                        <script>
                            function goBack() {
                                window.history.go(-1);
                            }
                        </script>
                        <!-- <a href="/home">
                            <p id="home" class="footerAButton">
                                Cancel
                            </p>
                        </a> -->
                        <input id="upload" class="footerButton" value="Submit" type="submit">
                    </footer>
                </form>
                {% endif %}
            </div>
        </main>
    </body>
</html>