{% extends "base.html" %}
{% load static %}
{% block title %}Home - {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <h1>Friends<br>Haven</h1>
    <div class="cols">
        <div class="colleft">
            <button>
    
            </button>
            <button>
                
            </button>
            <button>
                
            </button>
            <button>
                
            </button>
            <button>
    
            </button>
            <button>
                
            </button>
            <button>
                
            </button>
            <button>
                
            </button>
        </div>
        <div class="colMid">
            <button>
    
            </button>
            <button>
                
            </button>
            <button>
                
            </button>
            <button>
                
            </button>
            <button>
    
            </button>
            <button>
                
            </button>
            <button>
                
            </button>
            <button>
                
            </button>
        </div>
        <div class="colRight">
            <button>
    
            </button>
            <button>
                
            </button>
            <button>
                
            </button>
            <button>
                
            </button>
            <button>
    
            </button>
            <button>
                
            </button>
            <button>
                
            </button>
            <button>
                
            </button>
        </div>
    </div>
</body>
{% endblock %}