{% extends "base.html" %}
{% load static %}
{% block title %}Account - {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
</head>
{% if not profileView %}
    <button onclick="goBack()" class="back">Back</button>
{% endif %}

{% if anonymous %}
    <script>
        const active1 = document.getElementById('home');
        active1.classList.add("active");
    </script>
{% else %}
    <script>
        const active = document.getElementById('profile');
        active.classList.add("active");
    </script>
{% endif %}
<body>
    <h1>{{ userProfile.user.username}}</h1>
    <div class="section column">
        <div class="profTop column">
            {% if userProfile.profile_picture %}
                <img class="profilePicTop profilePic" src="{{ userProfile.profile_picture.url }}" width="100%" height="100%">
            {% else %}
                <img class="profilePicTop profilePic" src="{% static 'images/default.jpg' %}" width="100%" height="100%">
            {% endif %}
            <div class="profInfo column">
                <div class="infoTop row">
                    <button class="rate column info">
                        <p class="infoName">Rates</p>
                        <p class="rateNum num">{{ userProfile.rates}}</p>
                    </button>
                    {% if anonymous %}
                        <a href="/account/{{userProfile.user.username}}/idols">
                            <button class="idol column info">
                                <p class="infoName">Idols</p>
                                <p class="idolNum num">{{ userProfile.idolNum}}</p>
                            </button>
                        </a>
                        <a href="/account/{{userProfile.user.username}}/fans">
                            <button class="fan column info">
                                <p class="infoName">Fans</p>
                                <p class="fanNum num">{{ userProfile.fanNum}}</p>
                            </button>
                        </a>
                    {% else %}
                        <a href="/profile/idols">
                            <button class="idol column info">
                                <p class="infoName">Idols</p>
                                <p class="idolNum num">{{ userProfile.idolNum}}</p>
                            </button>
                        </a>
                        <a href="/profile/fans">
                            <button class="fan column info">
                                <p class="infoName">Fans</p>
                                <p class="fanNum num">{{ userProfile.fanNum}}</p>
                            </button>
                        </a>
                    {% endif %}
                </div>
                <div class="infoBottom row">
                    {% if userProfile.description %}
                        <p>{{ userProfile.description }}</p>
                    {% else %}
                        <p>No Description</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if anonymous and userProfile.user.username not in accessProfileIdols %}
            <form action="{% url 'follow' userProfile.user.username %}" method="post"> 
                {% csrf_token %}
                <input type="submit" value="Follow" class="follow">
            </form>
        {% elif anonymous %}
            <form action="{% url 'unfollow' userProfile.user.username %}" method="post"> 
                {% csrf_token %}
                <input type="submit" value="Following" class="following">
            </form>
        {% endif %}
        <hr>
        <div class="rates">
            {% include 'items.html' %}
        </div>
    </div>
</body>
{% endblock %}