{% extends "base.html" %}
{% load static %}
{% block title %}Profile - {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
</head>
<script>
    const active = document.getElementById('profile');
    active.classList.add("active");
</script>
<body>
    <h1>{{ userProfile.user.username}}</h1>
    <div class="section column">
        <div class="profTop column">
            <img class="profilePicTop profilePic" src="{{ userProfile.profile_picture.url }}" width="100%" height="100%">
            <div class="profInfo column">
                <div class="infoTop row">
                    <button class="rate column info">
                        <p class="infoName">Rates</p>
                        <p class="rateNum num">{{ userProfile.rates}}</p>
                    </button>
                    <button class="idol column info">
                        <p class="infoName">Idols</p>
                        <p class="idolNum num">{{ userProfile.idols}}</p>
                    </button>
                    <button class="fan column info">
                        <p class="infoName">Fans</p>
                        <p class="fanNum num">{{ userProfile.fans}}</p>
                    </button>
                </div>
                <div class="infoBottom row">
                    {% if userProfile.description %}
                        <p>{{ userProfile.description }}</p>
                    {% else %}
                        <p>No Description</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
        <div class="rates">
            {% include 'items.html' %}
        </div>
    </div>
</body>
{% endblock %}