{% load static %}
<div class="section accountInfo">
    {% if profiles %}
        {% for profile in profiles %}
            <div>
                <a href="/account/{{profile.user.username}}" class="profileLink">
                    {% if profile.profile_picture %}
                        <img class="profilePic" src="{{ profile.profile_picture.url }}" width="100%" height="100%">
                    {% else %}
                        <img class="profilePic" src="{% static 'images/default.jpg' %}" width="100%" height="100%">
                    {% endif %}
                    <p>{{ profile.user.username }}</p>
                </a>
            </div>
            <hr class="profileDivider">
        {% endfor %}
    {% else %}
        <p>No {{ page }}</p>
    {% endif %}
</div>