{% extends "base.html" %}
{% load static %}
{% block title %}Wander - {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/wander.css' %}">
    <style>
        div.cols a{
            width: 100%;
        }
    </style>
</head>
<script>
    const active = document.getElementById('wander');
    active.classList.add("active");
</script>
<body>
    <h1>Rate It</h1>
    <div class="section">
        <div id="search" class="search">
            <input class="search" type="search" placeholder="Search">
            <input class="search submit" type="submit" value="Find">
        </div>
        {% include 'categoryButtons.html' %}
    </div>
</body>
{% endblock %}