{% extends "base.html" %}
{% load static %}
{% block title %}Wander - {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/wander.css' %}">
</head>
<script>
    const active = document.getElementById('wander');
    active.classList.add("active");
</script>
<body>
    <h1>Rate It</h1>
    <div class="section">
        <div id="search" class="search">
            <input class="search" type="search" placeholder="Search">
            <input class="search submit" type="submit" value="Find">
        </div>
        <div class="cols">
            <div class="colleft col">
                <button class="category">
                    Recipes
                </button>
                <button class="category">
                    Books
                </button>
                <button class="category">
                    Travel
                </button>
                <button class="category">
                    Pets
                </button>
            </div>
            <div class="colRight col">
                <button class="category">
                    TV
                </button>
                <button class="category">
                    Movies
                </button>
                <button class="category">
                    Photos
                </button>
                <button class="category">
                    Tech
                </button>
            </div>
        </div>
    </div>
</body>
{% endblock %}