{% extends "base.html" %}
{% load static %}
{% block title %}Wander - {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/wander.css' %}">
    <style>
        div.cols a{
            width: 100%;
        }
    </style>
</head>
<script>
    const active = document.getElementById('wander');
    active.classList.add("active");
</script>
<body>
    <h1>Rate It</h1>
    <div class="section">
        <form action="{% url 'search' %}" method="post"> 
            {% csrf_token %}
            <div id="search" class="search">
                <input class="search" type="search" placeholder="Search" name="search">
                <input class="search submit" type="submit" value="Find">
            </div>
        </form>
        {% if search %}
            <a href="/wander">
                <button class="back">Back</button>
            </a>
            {% include 'profiles.html' %}
        {% else %}
            {% include 'categoryButtons.html' %}
        {% endif %}
    </div>
</body>
{% endblock %}